{% extends "base.html" %}

{% block title %}Relatórios{% endblock %}

{% block content %}
<div class="container mt-4 text-center">
    <h1 class="mb-4">Relatórios Disponíveis</h1>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a id="relatorio-completo" class="btn btn-success" href="{{ url_for('serve_report', filename='relatorio_completo.pdf') }}" target="_blank">Relatório Completo</a>
        <a id="relatorio-eficiencia-material" class="btn btn-info" href="{{ url_for('serve_report', filename='relatorio_eficiencia_material.pdf') }}" target="_blank">Relatório de Eficiência Material</a>
        <a id="relatorio-eficiencia-tempo" class="btn btn-warning" href="{{ url_for('serve_report', filename='relatorio_eficiencia.pdf') }}" target="_blank">Relatório de Eficiência de Tempo</a>
    </div>
    <a href="{{ url_for('index') }}" class="btn btn-primary mt-4">Voltar</a>
</div>
{% endblock %}
